@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* Variables setting */

:root {
    --font-size: 16px;
    --font-weight: 400;
    --gutter: 16px;
    --black: #212121;
    --white: #F4F1E8;
}

/* Mobile */

    /* parts of the page */
    html {
        max-height: fit-content;
    }

    header {
        background-color: var(--black);
        color: var(--black);
        overflow: hidden;
    }

    #channel-description p {
        font-family: 'Montserrat';
        font-size: var(--font-size);
        line-height: 1.5;
        margin-bottom: calc(var(--gutter)/2);
    }

    main {
        background-color: var(--white);
        color: var(--black);
    }

    li {
        height: 160px;
        object-fit: cover;
        position: relative;
        transform: translate(0, 0);
        transition: transform 0.5s ease;
    }

    footer {
        background-color: var(--white);
        color: var(--black);
        font-size: 14;
        text-align: left;
        padding-top: calc(var(--gutter)*15);
        padding-bottom: calc(var(--gutter)*4);
    }

    /* specific sections */

    section {
        max-width: 100%;
        overflow:hidden ;
    }

    header section {
        padding-left: 96px;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        overflow: visible;
    }

    .block--image h2 {
        padding-top: calc(var(--gutter)*4);
    }

    .block--image h2::before {
        content:"↘ ";
    }

    button {
        cursor: pointer;
    }

    .block--image .block--image__description{
        display: none;
    }

    .block--image__description {
        position: fixed;
        inset:0em;
        background-color: rgb(0 0 0 / 80%);
        color: var(--black)!;
        padding: 5%;
        z-index: 2;
        transform: unset;
    }

    .flex_desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        opacity: 100%;
        min-width:100%;
        height: 100%;
        gap: 5%;
        inset: 1em;
        background-color: var(--white);
        border-radius: 16px;
    }

    a {
        display: block;
        font-size: var(--font-size);
        background-color: var(--black);
        color: var(--black);
        padding: var(--gutter);
        height: fit-content;
        max-width: 6.5em;
        text-wrap: nowrap;
        overflow-x: hidden;
        border-radius: 8px;
    }

    a::before{
        content: "Visit Link ";
        color: var(--white);
    }

    a:hover {
        opacity: 90%;
    }

    .flex_desc img{
        height: 100%;
        width: 40%;
        object-fit: cover;
    }

    .flex_desc figcaption {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        text-wrap: wrap;   
        padding-top: 0;
        flex-grow: 1;
    }

    .block--image.active .block--image__description {
        display: block;
        transform: unset;  
        transition: 0s;
    }

    .block--image.active .image-button {
        z-index: -1;
    }

    .block--image.active{
        transform: unset;
        transition: 0s;
    }

    .close-button {
        font-family: 'Montserrat';
        font-size: var(--font-size)/1.5;
        font-weight: 700;
        margin: calc(var(--gutter)*2);
        background-color: var(--black);
        color: var(--white);
        padding: 8px;
        height: 40px;
        min-width: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-button:hover {
        background-color: red;
        transition: 0.5s ease-in;
    }

    .icon {
        height: 32px;
        width: 32px;
    }
    
    /* text */

    h1 {
        font-family: 'Italiana';
        font-size: calc(var(--font-size)*5);
        max-width: 100%;
        font-weight: var(--font-weight);
        line-height: 0;
    }

    hgroup {
        display: flex;
        flex-direction: column;
        padding-left: 96px;
        padding-bottom: calc(var(--gutter)*2);
    }

    section h1 {
        transform: scale(-1,1) translate(0,50%);
        animation: blurry-heading 5s linear infinite;
    }

    @keyframes blurry-heading {
        0% {
            filter: blur(0px);
        }
        75% {
            filter: blur(10px);
        }
        100% {
            filter: blur(0px);
        }
      }

    #main-heading {
        display: flex;
        flex-direction: row;
    }

    h2 {
        font-family: 'Italiana';
        font-size: calc(var(--font-size)*6);
        font-weight: var(--font-weight);
        margin-bottom: calc(var(--gutter)/1.5);
    }

    header p {
        font-family: 'Montserrat';
        font-size: var(--font-size);
        line-height: 1.5;
        margin-bottom: calc(var(--gutter)/2);
    }

    p, .author {
        font-family: 'Montserrat';
        font-size: var(--font-size);
        line-height: 1.5;
        margin-bottom: calc(var(--gutter)/2);
    }

    .author {
        padding-top: calc(var(--gutter)/2);
    }

    .author::before {
        content:"— ";
    }

    blockquote p {
        font-family: 'Montserrat';
        font-style: italic;
        font-size: var(--font-size);
        line-height: 1.25;
        width: 100%;
        padding: var(--gutter);
        background-color: var(--black);
        color: red;
        border-radius: 16px;
    }

    blockquote p::before {
        content: "«";
    }

    blockquote p::after {
        content: "»";
    }

    h3, figcaption, .pdf h2 {
        font-family: 'Italiana';
        font-size: calc(var(--font-size)*2);
        line-height: 1.25;
    }

    figcaption {
        margin: calc(var(--gutter)*2);

    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 600;
    }

    /* elements */

    #header-button {
        font-family: 'Montserrat';
        font-size: var(--font-size);
        line-height: 1.5;
        font-weight: 900;
        background-color: red;
        margin-top: calc(var(--gutter)*3);
        padding: 0;
        color: var(--white);
        font-family: 'Montserrat';
        font-size: calc(var(--font-size)*1.2);
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
        height: 244px;
        min-width: 244px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(-48px,48px);
    }

    #header-button:hover {
        opacity: 50%;
        transform: translate(-48px,48px) scale(1.1);
        transition: 0.5s ease-in;
    }

    #header-button::before {
        content: "";
    }

    .button {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: start;
        cursor: pointer;
    }

    /*.link {
        padding-top: var(--gutter);
        padding-bottom: calc(var(--gutter)*2);
        margin-top: var(--gutter);
        margin-bottom: calc(var(--gutter)*3);
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }*/

    time {
        border: solid 1px var(--black);
        border-radius: 50%;
    }

    /* transformations */

    #h-1 {
        filter: blur(0.75px);
    }

    #h-2 {
        transform: rotate(10deg);
        filter: blur(1px);
    }

    #h-3 {
        padding-left: calc(var(--gutter)*0.5);
        transform: rotate(20deg);
        filter: blur(1.25px);
    }

    #h-4 {
        padding-left: calc(var(--gutter)*0.7);
        transform: rotate(30deg);
        filter: blur(1.5px);
    }

    #h-5 {
        padding-left: calc(var(--gutter)*1);
        transform: rotate(40deg);
        filter: blur(1.75px);
    }

    #h-6 {
        padding-left: calc(var(--gutter)*1);
        transform: rotate(50deg);
        filter: blur(2px);
    }

    #h-7 {
        padding-left: calc(var(--gutter)*1);
        transform: rotate(60deg);
        filter: blur(2.25px);
    }

    #h-8 {
        padding-left: calc(var(--gutter)*1);
        transform: rotate(70deg);
        filter: blur(2.5px);
    }

    #h-9 {
        padding-left: calc(var(--gutter)*1.2);
        transform: rotate(80deg);
        filter: blur(2.75px);
    }



/* Desktop */

@media (min-width: 768px) {

    /* parts of the page */

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 96px;
        background-color: var(--black);
        color: var(--white);
        overflow: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    /* sections */

    .section-grid {
        padding-top: calc(var(--gutter)*3);
        padding-right: calc(var(--gutter)*3);
        padding-bottom: calc(var(--gutter)*3);
        padding-left: 25%;
        overflow: hidden;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        row-gap: -240px;
        column-gap: -144px;
    }

    /* transformations */
     li {
        filter: grayscale(100%) blur(4px);
    }

     li:hover {
        filter: unset;
        z-index: 1;
        transition: 0.5s ease-in-out;
     }

    li:nth-child(2), li:nth-child(5), li:nth-child(12), li:nth-child(26), li:nth-child(41) {
        position: relative;
        transform: translate(0, 0) rotate(6deg);
        transition: 0s;
    }

    li:nth-child(3), li:nth-child(11), li:nth-child(28), li:nth-child(36) {
        position: relative;
        transform: translate(56px, 0) rotate(13deg);
        transition: 0s;
    }

    li:nth-child(6), li:nth-child(17), li:nth-child(33), li:nth-child(40) {
        position: relative;
        transform: translate(0, -32px) rotate(79deg);
        transition: 0s;
    }

    li:nth-child(7), li:nth-child(29), li:nth-child(21), li:nth-child(39) {
        position: relative;
        transform: translate(32px, 0) rotate(64deg);
        transition: 0s;
    }

    li:nth-child(4), li:nth-child(10), li:nth-child(23), li:nth-child(30) {
        position: relative;
        transform: translate(0, -48px) rotate(-13deg);
        transition: 0s;
    }

    li:nth-child(1), li:nth-child(19), li:nth-child(26), li:nth-child(32) {
        position: relative;
        transform: translate(-32px, 0) rotate(-43deg);
        transition: 0s;
    }

    li:nth-child(8), li:nth-child(13), li:nth-child(15), li:nth-child(22), li:nth-child(43) {
        position: relative;
        transform: translate(-64px, -32px) rotate(200deg);
        transition: 0s;
    }

    li:nth-child(16), li:nth-child(37), li:nth-child(20), li:nth-child(27) {
        position: relative;
        transform: translate(16px, 0) rotate(8deg);
        transition: 0s;
    }

    li:nth-child(9), li:nth-child(24), li:nth-child(31), li:nth-child(34) {
        position: relative;
        transform: translate(-48px, 104px) rotate(-106deg);
        transition: 0s;
    }

    li:nth-child(35), li:nth-child(38), li:nth-child(42), li:nth-child(14) {
        position: relative;
        transform: translate(16px, 56px) rotate(34deg);
        transition: 0s;
    }
    
    /* text */
    h1 {
        font-family: 'Italiana';
        font-weight: var(--font-weight);
        font-size: calc(var(--font-size)*8);
        max-width: 7em;
        line-height: 0.9;
        margin: 0;
        text-wrap:wrap ;
    }

    p {
        font-family: 'Montserrat';
        font-size: calc(var(--font-size)*1.25);
        max-width: 36em;
        line-height: 1.5;
        margin-bottom: calc(var(--gutter)/2);   
    }

    .pdf p, .quote p {
        min-width: 100%;
    }

    footer p {
        text-align: center;
    }

    /* elements */

    .button {
        justify-content: left;
        max-height: fit-content;
        max-width: fit-content;
        margin-top: calc(var(--gutter)*4);
    }

    .button:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
    }
    
}